<%- include('header') -%>
<form method="post" action="/login">
  <div class="field">
    <label>Notendanafn: <input type="text" name="username"/></label>
  </div>
  <div class="field">
    <label>Lykilorð: <input type="password" name="password"/></label>
  </div>
  <button>Innskrá</button>
</form>
<!--<p><%= message %></p>-->
<%- include('footer') -%>
